{{#each this}}
  <li class="country-card">
    <div>
      <h2 class="country-title">{{this.name}}</h2>
      <p class="country-point"><b>Capital: </b>{{this.capital}}</p>
      <p class="country-point"><b>Population: </b>{{this.population}}</p>
      <p class="country-point"><b>Languages:</b></p>
      <ul class="country-list">
        {{#each this.languages}}
          <li class="country-item">{{this.name}}</li>
        {{/each}}
      </ul>
    </div>
    <img class="country-image" src="{{this.flag}}" alt="Flag must be here">
  </li>
{{/each}}